.contents {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    padding: 30px 6px 25px 5px;
    margin: 0 24.5px;
}

.main_logo {
    width: 117px;
    height: 53px;
}

.logo_text{
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

.member_info{
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    padding: 0px;
}

.member_info li{
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}
.member_info img{
    width: 36px;
    height: 36px;
}

.member_info p{
    margin: 0px;
    font-size: 13px;
}
