.contents {
    padding: 30px 6px 25px 5px;
    margin: 0 24.5px;
}

.chart{
    margin: 0 0px 0 70px;
}

h4 {
    text-align: center;
    margin: 10px 0 9px 0;
    width: 170px;
}

.chart img{
    width: 170px;
    height: 234px;
    border-radius: 10px;
    
}

.chart_image_and_buttons:hover img{
    position: relative;
    filter: brightness(60%);
}

.chart_button{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 170px;
        position: absolute;
        top: 30%;
    
}
.chart_button button{
    height: 35px;
    width: 100px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}


.chart_button button:hover{
    filter: brightness(80%);
    opacity: 0.7;
}

.chart_info{
    width: 170px;

    display: flex;
    justify-content:left;
    align-items: center;
    font-size: 14px;
    
}

.chart_info span{
    margin: 0px 20px 0 0;
}

.chart_info img{
    width:16px;
    height: 16px;
}

.txt{
    margin: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt button{
        height: 35px;
        padding: 0;
        font-size: 14px;
    background-color: transparent;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.txt button span{
    padding: 4px 32px 4px 15px;
    padding: 0 10px;
}

.prev_arrow {
    width: 40px;
    height: 40px;
    text-align: center;
        
    background: rgba(255, 255, 255, 0.8);

    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);

    position: absolute;
    left:-4%;
    top: 40%;
}

.next_arrow{
        width: 40px;
        height: 40px;

        text-align: center;

        background: rgba(255, 255, 255, 0.8);

        border-radius: 50%;
        box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);

        position: absolute;
        left:96%;
        top: 40%;

    
    }

    .prev_arrow span,
    .next_arrow span{
        line-height: 35px;
        font-size: 30px;
    }