.contents {
    padding: 10px 26px 25px 55px;
    margin: 0 24.5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    place-items: center;
    border-top: 1px solid #aaa;
    list-style: none;
    padding: 0;
    
}

.grid li{
        border-bottom: #d9d6c8 solid 1px;
}

.grid li:nth-child(odd) {
        border-right: #d9d6c8 solid 1px;
}
